body{
    background-color: aquamarine;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: small;
    font-style: italic;
    color: blue;
}
.section2
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input{
    height: 25px;
    width: 200px;
    border-radius: 6px;
    background-color: white;
    border: none;
}
input[type="submit"]{
    height: 20px;
    width: 75px;
    color: white;
    background-color: blue;
    border-radius: 4px;
    border: none;
}








